#back{
    background: #050210;
    width: 600px;
    height: 600px;
    margin: auto;
    
}

#circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    background:linear-gradient(60deg,  #b97aff, #55fb9f, #fb5dad) ;
    position: relative;
    top:150px;
    left:150px;
    content: "";
    filter: blur(0.5px);
    transform: scale(1.3);
    animation: animateglow 2s ease infinite;
}
@keyframes animateglow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#circle span {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:linear-gradient(60deg,  #b97aff, #55fb9f, #fb5dad) ;
    filter: blur(5px);
}
#circle span:nth-child(1){
    filter: blur(30px);
}

#inner{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    background: #070220;
    position: relative;
    top:25px;
    left:25px;

}

#anim {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    background: #38345f;
    position: relative;
    top:110px;
    left:110px;
}
#anim{
    animation: my-animation 1s ease 0.3s infinite;
    
    
}
@keyframes my-animation {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.7;
    }
    to {
        transform: scale(8.5, 8.5);
        opacity: 0;
    }
}